[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
python-dotenv = "*"
pyopenssl = "*"

[packages]
dnspython = "*"
oauthlib = "==3.1.0"
pymongo = "==3.10.1"
requests = "==2.20.1"
pygal = "*"
Flask = "==1.1.1"
Flask-Login = "==0.5.0"
uWSGI = "==2.0.18"
passlib = "*"

[requires]
python_version = "3.7"
