# These are comments

[Unit]
Description=Trade log
After=network.target

[Service]
EnvironmentFile=/home/tradelog/tradelog/env.var
Type=simple
User=tradelog
WorkingDirectory=/home/tradelog/tradelog
# Environment="PATH=/home/tradelog/tradelog/venv/bin"
ExecStart=/home/tradelog/tradelog/venv/bin/uwsgi http.ini 
Restart=on-failure

[Install]
WantedBy=multi-user.target
