<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/tradelog.css" type="text/css" >
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Trade Log</title>
</head>
<body>
<div class="w3-container">
    <div class="w3-container w3-top w3-bar w3-black">
        <a href="/" class="w3-bar-item w3-button">Trade Log</a>
        <a href="/new" class="w3-bar-item w3-button">New</a>
        <a href="/load" class="w3-bar-item w3-button">Load IB</a>
        <a href="/sharepad" class="w3-bar-item w3-button">Load SP</a>
        <a href="/raw" class="w3-bar-item w3-button">Raw</a>
        <a href="/prices" class="w3-bar-item w3-button">Prices</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button">Admin</button>
            <div class="w3-dropdown-content w3-top w3-card-4">
              <a href="/backup" class="w3-bar-item w3-button">Backup</a>
              <a href="/restore" class="w3-bar-item w3-button">Restore</a>
              <a href="/bulk" class="w3-bar-item w3-button">Bulk</a>
            </div>
          </div>
        <a href="/user/logout" class="w3-bar-item w3-button w3-right">Logout</a>
    </div>
    <p>&nbsp</p>

    {% block content %}
    {% endblock %}
    
    <div class="w3-container ">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == "ERROR" %}
                        <div class="w3-panel w3-red">
                            <p>{{category}}: {{message}}</p>
                        </div> 
                    {% endif %}
                    {% if category == "WARNING" %}
                        <div class="w3-panel w3-yellow">
                            <p>{{category}}: {{message}}</p>
                        </div> 
                    {% endif %}
                    {% if category == "SUCCESS" %}
                        <div class="w3-panel w3-green">
                            <p>{{category}}: {{message}}</p>
                        </div> 
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}  
    </div>
</div>
</body>
</html>