{% extends "base.html" %}
{% block content %}
<div class='w3-container'>
    {% if ports[0] %}
    <table class="w3-table w3-hoverable">
        <thead>
            <tr>
                <th class="w3-center">PORTFOLIO</th>
                <th class="w3-center">VALUE</th>
            </tr>
        </thead>
        {% for port in ports %}
            <tr onClick="window.location='/prices/{{ port.port }}';">
                <td class="w3-left-align">{{ port.port }}</td>
                <td class="w3-center">{{ port.value|ffloat }}</td>
            </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td class="w3-center"><b>{{ ports|sum(attribute='value')|ffloat }}</b></td>
        </tr>
    </table>
    {% endif %}
</div>
{% endblock %}