{% extends "base.html" %}
{% block content %}
<div class="w3-container w3-responsive">
    <h3>{{ port }}</h3>
    {% if prices[0] %}
    <table class="w3-table w3-hoverable">
        <tr>
            <th class="w3-left-align"><a href="/price/port/{{ port }}?sortby=stock">Stock</a></th>
            <th class="w3-right-align"><a href="/price/port/{{ port }}?sortby=cost">Cost</a></th>
            <th class="w3-right-align"><a href="/price/port/{{ port }}?sortby=price">Price Now</a></th>
            <th class="w3-right-align"><a href="/price/port/{{ port }}?sortby=percent">Change</a></th>
            <th class="w3-right-align"><a href="/price/port/{{ port }}?sortby=value">Value</a></th>
        </tr>
        {% for stock in prices %}
        <tr>
            <td class="w3-left-align">{{stock['stock']}}</td>
            <td class="w3-right-align">{{ stock['currency'] }}{{stock['cost']|ffloat}}</td>
            <td class="w3-right-align">{{ stock['currency'] }}{{stock['price']|ffloat}}</td>
            <td class="w3-right-align">{{stock['percent']|fpercent}}</td>
            <td class="w3-right-align">{{stock['value']|ffloat}}</td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="w3-right-align">TOTAL:</td>
            <td class="w3-right-align">{{ prices|sum(attribute='value')|ffloat }}</td>
        </tr>
    </table>
    {% endif %}
</div>
{% endblock %}