{% extends "base.html" %}
{% block content %}
<div class="w3-container w3-responsive">
    {% if trades[0] %}
    <table class="w3-table">
        <tr>
            {% for header in trades[0].trade.keys() %}
            <th><a class="w3-button" href="/raw?sortby={{header}}">{{ header }}</a></th>
            {% endfor %}
            <th><a class="w3-button" href="#">Portfolio</th>
            <th><a class="w3-button" href="#">Commit</th>
        </tr>
        {% for trade in trades %}
        <tr>
            {% for key in trade.trade.keys() %}
                <td>{{trade.trade[key]}}</td>
            {% endfor %}
            <form action="/raw" method="POST" class="w3-container">
                <td>
                    <select class="w3-select" name="port">
                        <option value="" disabled selected>Select a portfolio</option>
                        {% for port in ports %}
                            <option value={{port.name}}>{{ port.name }}</option>
                        {% endfor %}
                    </select>
                </td>
                <input type="hidden" value="{{trade._id}}", name='raw_id'>
                <td>
                    <input type="submit" class="w3-button w3-block w3-padding-small w3-cell-top", value="Commit"/>
                </td>
            </form>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}