{% extends "base.html" %}
{% block content %}
<div class="w3-container w3-responsive">
    <h3>{{ port }}</h3>
    {% if stocks[0] %}
        <table class="w3-table w3-hoverable">
            <tr>
                <th class="w3-left-align"><a href="{{ request.path }}?sortby=stock">STOCK</a></th>
                <th class="w3-center"><a href="{{ request.path }}?sortby=positions">POSITIONS</a></th>
                <th class="w3-right-align"><a href="{{ request.path }}?sortby=open">OPEN</a></th>
                <th class="w3-right-align"><a href="{{ request.path }}?sortby=risk">RISK</a></th>
                <th class="w3-right-align"><a href="{{ request.path }}?sortby=closed">CLOSED</a></th>
                <th class="w3-right-align"><a href="{{ request.path }}?sortby=proceeds">PROCEEDS</a></th>
            </tr>
            {% for stock in stocks %}
            <tr>
                <td class="w3-left-align"><a href="{{ request.path }}/{{stock['stock']}}">{{stock.stock}}</a></td>
                <td class="w3-center"><a href="{{ request.path }}/{{stock['stock']}}">{{ stock['open'] + stock['closed'] }}</a></td>
                <td class="w3-right-align"><a href="{{ request.path }}/{{stock['stock']}}/open">{{stock.open}}</a></td>
                {% if stock.open and not stock.risk %}
                    <td class="w3-right-align">∞</td>
                {% else %}
                    <td class="w3-right-align">{{ stock.risk|ffloat }}</td>
                {% endif %}
                <td class="w3-right-align"><a href="{{ request.path }}/{{stock['stock']}}/closed">{{stock.closed}}</a></td>
                <td class="w3-right-align">{{ stock.proceeds|ffloat }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td class="w3-center"><a href="/positions/{{ port }}"><b>{{ stocks|sum(attribute='open') + stocks|sum(attribute='closed')}}</b></a></td>
                <td class="w3-right-align"><a href="/open/{{ port }}"><b>{{ stocks|sum(attribute='open') }}</b></a></td>
                <td class="w3-right-align"><b>{{ stocks|sum(attribute='risk')|ffloat }}</b></td>
                <td class="w3-right-align"><a href="/closed/{{ port }}"><b>{{ stocks|sum(attribute='closed') }}</b></a></td>
                <td class="w3-right-align"><b>{{ stocks|sum(attribute='proceeds')|ffloat }}</b></td>
            </tr>
        </table>
    {% endif %}
</div>
{% endblock %}