{% extends "base.html" %}
{% block content %}
<div class='w3-container'>
    {% if prices[0] %}
    <table class="w3-table w3-hoverable">
        <thead>
            <tr>
                <th class="w3-left-align"><a href="/price/stocks?sortby=_id">STOCK</a></th>
                <th class="w3-left-align"><a href="/price/stocks?sortby=name">NAME</a></th>
                <th class="w3-left-align"><a href="/price/stocks?sortby=yahoo">SYMBOL</a></th>
                <th class="w3-center"><a href="/price/stocks?sortby=price">PRICE</a></th>
                <th></th>
            </tr>
        </thead>
        {% for price in prices %}
            <tr>
                <td class="w3-left-align">{{ price._id }}</td>
                <td class="w3-left-align">{{ price.name }}</td>
                <td class="w3-left-align" onclick="modal('{{ price._id }}', '{{ price.yahoo }}')" id='{{ price._id }}'>{{ price.yahoo }}</td>
                <td class="w3-center">{{ price.price|ffloat }}</td>
                <td><a class="w3-button" href='/price/delete/{{ price._id }}'><i class="fa fa-trash"></i></a></td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

<script>
    function modal(stock, yahoo) {
        const cell = document.getElementById(stock);
        cell.setAttribute('contenteditable', 'true')
        cell.addEventListener('keydown', function(e) {
            if (e.keyCode == 13) {
                e.preventDefault();
                window.location.href = `/price/stocks/${stock}/${e.target.innerText}`;
            }
            if (e.keyCode == 27) {
                cell.setAttribute('contenteditable', 'false')
                cell.innerText = yahoo;
            }
        })
    }
</script>
{% endblock %}